.friendInfo-container{
    width: 100%;
    height: 100dvh;
    margin: auto;
    background-color: #f5f5f5;
}
.friendInfo-navbar-cont{
    width: 100%;
    background-color: rgb(94, 81, 217);
    padding: 15px 0;
    position: sticky;
    top: 0;
    margin-bottom: 20px;
    color: white;
    font-family: sans-serif;
}
.friendInfo-navbar-inner{
    width: 90%;
    margin: auto;
    display: flex;
}
.friendInfo-navbar-inner ul{
    list-style: none;
    display: flex;
    align-items: center;
}
.friendInfo-navbar-inner h2{
    display: flex;
    width: fit-content;
    margin: auto;
    font-weight: 500;
    font-size: 20px;
}











.friendsInfo{
    padding: 20px;
    width: 80%;
    text-align: center;
    font-family: sans-serif;
    color:  rgb(50, 48, 91);
    background-color: white;
    border-radius: 10px;
    margin: auto auto 20px;
}
.friendsInfo img{
    display: block;
    width: 150px;
    height: 150px;
    margin: auto;
    border-radius: 100%;
}
.friendsInfo h2{
    font-size: 30px;
    margin-top: 15px;
}


.friendsInfo-bio-cont{
    width: 80%;
    margin: auto;
    padding: 20px;
    font-family: sans-serif;
    color:  rgb(50, 48, 91);
    background-color: white;
    border-radius: 10px;
    word-wrap: break-word;
    
}
.friendsInfo-bio-cont p{
    font-size: 18px;
    
}
.friendsInfo-bio-heading{
    width: 80%;
    margin: auto;
    padding: 10px;
    font-family: sans-serif;
    color:  rgb(50, 48, 91);
    border-radius: 10px;
    text-align: center;
}
.friendsInfo-bio-heading h2{
    font-size: 20px;
}





.showFriendImage{
    width: 100%;
    height: 100dvh;
    position: absolute;
    z-index: 3;
    background-color: white;
    /* display: flex;
    flex-direction: column; */
}
.showFriendImage img{
    width: 100%;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 0;
    
}